<hr />
<h1>Expansion Panel Component</h1>
<mat-accordion multi="true" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Angular Material </mat-panel-title>
      <mat-panel-description> Panel Expansion </mat-panel-description>
    </mat-expansion-panel-header>

    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Angular Material </mat-panel-title>
      <mat-panel-description> Panel Expansion2 </mat-panel-description>
    </mat-expansion-panel-header>

    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
      <button mat-raised-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<hr />
<h1>Icons Component</h1>
<div>
  <mat-icon color="primary">cached</mat-icon>
  <mat-icon color="accent">cached</mat-icon>
  <mat-icon color="warn">cached</mat-icon>
</div>
